/* JoinTeam.css */

.text-field {
    width: 50%;
    color: #FFFFFF;
  }
  
  .text-field .MuiOutlinedInput-notchedOutline {
    border-color: #1E7B38;
  }
  
  .text-field:hover .MuiOutlinedInput-notchedOutline,
  .text-field.Mui-focused .MuiOutlinedInput-notchedOutline,
  .text-field.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline,
  .text-field.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #1E7B38;
  }
  
  .text-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-input,
  .text-field .MuiOutlinedInput-root:hover .MuiOutlinedInput-input,
  .text-field .MuiOutlinedInput-input,
  .text-field .MuiIconButton-root {
    color: #1E7B38;
  }
  
  .sport-chip {
    background-color: #1E7B38;
    color: #FFFFFF;
  }
  
  .sport-chip:hover,
  .sport-chip:focus {
    background-color: #1E7B38;
  }
  
  .card {
    border-radius: 20px;
    border: 1px solid #000;
    background: rgba(56, 56, 56, 0.75);
    min-height: 350px;
  }
  
  .card .card-title {
    font-size: 24px;
    color: #FFFFFF;
  }
  
  .card .card-description,
  .card .team-members {
    font-size: 16px;
    color: #FFFFFF;
  }
  
  .card .card-member-name {
    font-size: 14px;
    color: #FFFFFF;
    margin: 0px 5px 5px 0px;
  }
  
  .card .join-button {
    background-color: #D81A1A;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
  }
  