.text-field {
  width: 50%;
  color: #FFFFFF;
}

.text-field .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #1E7B38 !important;
}

.sport-chip {
  background-color: #1E7B38;
  color: #FFFFFF;
}

.sport-chip:hover,
.sport-chip:focus {
  background-color: #1E7B38;
}

.card {
  border-radius: 20px !important;
  border: 1px solid #000 !important;
  background: rgba(56, 56, 56, 0.75) !important;
  min-height: 350px !important;
}

.card .card-title {
  font-size: 24px;
  color: #FFFFFF;
}

.card .card-description {
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
}

.card .team-members {
  font-size: 16px;
  color: #FFFFFF;
}

.card .card-member-name {
  font-size: 14px;
  color: #FFFFFF;
  margin: 0px 5px 5px 0px;
}

.card .join-button {
  background-color: #1E7B38;
  color: #FFFFFF;
  border-radius: 4px;
  font-size: 16px;
}

.join-button:hover,
.join-button:focus {
  background-color: #1E7B38 !important;
}
/* ... existing styles ... */

.invitee-textfield .MuiInputBase-input {
  color: #ffffff;
}

.card-member-name {
  margin-right: 5px;
}

.team-members {
  align-self: flex-start;
}

.invitee-textfield .MuiIconButton-root {
  background-color: green;
  color: white;
  font-size: 0.75em;
  border-radius: 0;
  width: 100%;
}

.invitee-textfield .MuiOutlinedInput-notchedOutline {
  border-color: white;
}
.send-request-button:hover {
  background-color: green !important;
}
