.card {
    position: relative;  /* to ensure the accept and reject buttons are positioned relative to this card */
    background-color: #007bff; /* blue color */
  }
  
  .accept-button {
    background-color: #28a745;  /* or any other green color you prefer */
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  
  .accept-button:hover,
  .accept-button:focus {
    background-color: #218838 !important;  /* or any other green color you prefer */
  }
  
  .reject-button {
    background-color: #dc3545;  /* or any other red color you prefer */
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
  
  .reject-button:hover,
  .reject-button:focus {
    background-color: #c82333 !important;  /* or any other red color you prefer */
  }
  
  .hide-button {
    display: none;
  }
  