.appointment-card {
  background-color: black;
  color: white;
  width: 45%;
  opacity: 0.8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto auto;
  margin-top: 5%;
  padding: 2%;
  gap: 12px;
}

.appointment-title {
  font-size: 150%;
}

.appointment-user-info, .appointment-user-details {
  display: flex;
  align-self: flex-end;
  color: greenyellow;
  gap: 5px;
}

.appointment-user-details {
  gap: 15px;
}

.appointment-user-username {
  font-size: 100%;
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-end;
}

.appointment-title, .appointment-desc {
  align-self: flex-start;
}

.appointment-desc {
  font-style: italic;
}

.appointment-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-reason {
  padding: 4px;
}

.appointment-branch {
  border: 1px orange solid;
  border-radius: 10px;
  padding: 4px 8px;
  color: orange;
  width: fit-content;
}

.appointment-send-request {
  width: 75%;
  background-color: green;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  padding: 2%;
}

.appointment-send-request-img {
  width: 75%;
  background-color: green;
  border: none;
  border-radius: 4px;
  padding: 4px;
}

.appointment-accepted-users summary {
  cursor: pointer;
}

.appointment-accepted-user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.appointment-accepted-user-username {
  text-decoration: underline;
  font-size: 110%;
  color: greenyellow;
}

.all-appointments {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;  
  gap: 5%;
  padding: 3%;
}

.appointment-send-request-img img {
  height: 25px;
  width: auto;
}