.reservation-page {
  height: inherit;
  display: flex;
}

.facility-list {
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;
  padding: 3% 0;
}

.full-facility {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 15px;
}

.facility-card {
  background-color: rgb(37, 37, 37);
  color: whitesmoke;
  display: flex;
  border-radius: 10px;
  height: 180px;
  width: 85%;
}

.facility-card-column {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0 5%;
  align-items: flex-end;
}

.facility-card-column-two {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  padding: 0 5%;
  align-items: center;
}

.facility-card-column:first-child {
  align-items: flex-start;
}

.facility-card-img-column {
  height: 100%;
  width: 34%;
  display: flex;
  justify-content: flex-end;
}

.facility-card-img {
  height: 100%;
  width: auto;
}

.facility-name {
  font-size: 30px;
}

.facility-branches {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.facility-branch {
  border: 2px yellow solid;
  border-radius: 10px;
  padding: 3px 7px;
  color: yellow;
  width: fit-content;
}

.facility-reservation-button {
  height: 20%;
  width: 100%;
  background-color: green;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}

.facility-reservation-button:active {
  background-color: dimgray;
}

.filter-reservation {
  height: inherit;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 2% 3%;
  gap: 4%;
  background-color: #E8EAE0;
}

.filter-header {
  font-size: 25px;
  border-bottom: 2px solid black;
}

.filter-price {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.single-price-input {
  display: flex;
  gap: 5px;
  width: 100%;
}

.single-price-input input {
  width: 90%;
}

.filter-price-button {
  height: 28px;
  width: 100%;
  background-color: green;
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  font-size: 15px;
}