@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: antiquewhite;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 90%; 
  margin-left: 5%; 
  margin-right: 10%;
}

@media screen and (max-width: 768px ) { 
  .container {
    padding-left: 1.5%; 
    padding-right: 1.5%; 
  }
}

.nav__wrapper {
  background: #BDBDBD ;
  position: sticky;
  top: 0;
  z-index: 999; 
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.nav__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav__brand {
  font-size: 2rem; 
  font-weight: 700;
  color: black;
  text-shadow: 1px 1px 2px ;
  user-select: none;
}

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  opacity: 0.7;
}

.nav__link {
  color: #1E7B38;
  user-select: none;
}

.toggler__icon {
  display: none;
  cursor: pointer;
}

.toggler__icon div {
  width: 2.5rem; 
  height: 2px;
  background: #1E7B38;
  margin: 5px 0; 
  transition: 0.3s ease;
}

@media screen and (max-width: 768px ) { 
  .toggler__icon {
    display: block;
  }
  
  .nav__menu {
    display: none;
    position: fixed;
    background: #BDBDBD;
    flex-direction: column;
    padding-top: 3%; 
    align-items: center;
    justify-content: start;
    margin-right:0px;
    top: 10vh;
    width: 50%;
    height: 90vh;
    right: 0;
    transform: translateX(100%);
    transition: 0.5s ease;
  }
  
  .nav__collapse {
    transform: translateX(0%);
    display: flex;
  }
}

.toggle .line__1 {
  transform: translateY(7px) rotate(-45deg);
}

.toggle .line__2 {
  opacity: 0;
}

.toggle .line__3 {
  transform: translateY(-7px) rotate(45deg); 
}


.nav__link:hover {
  color: black;
}